body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #F5F5F5;
}
header {
    display: block;
    height:10vh;
    overflow: auto;
    font-size: 18px;
    transition: 0.25s ease-in all;
    padding: 5px 10px 0 10px;
}
.error header{
    background-color: pink;
    color: red;
}
.container {
    display: flex;
    height: 90vh;
}
pre, textarea {
    width: 50%;
    font-family:monospace;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    color: #222;
    resize: none;
}
textarea {
    border: 1px solid #ddd;
}
textarea:focus {
    outline:none;
}
